version: "3"

services:
 

  init-perms:
    image: alpine:3.18
    command: sh -c "chown -R 1000:1000 /src || true; echo 'init-perms done'; sleep 1"
    volumes:
      - ./:/src
    restart: "no"
    networks:
      - dokploy-network

  hugo:
    image: ghcr.io/gohugoio/hugo:latest
    user: "1000"
    working_dir: /src
    command: ["--config","hugo.toml","--baseURL","https://polymorph.co/","--destination","/src/public","--minify","--environment","production","--cleanDestinationDir"]
    volumes:
      - ./:/src
    environment:
      - HUGO_ENV=production
    restart: "no"
    depends_on:
      - init-perms
    networks:
      - dokploy-network

  nginx:
    image: nginx:1.25-alpine
    volumes:
    - ./public:/usr/share/nginx/html:ro
    - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    restart: unless-stopped
    depends_on:
    - hugo
    networks:
    - dokploy-network
    labels:
    - "traefik.enable=true"
    - "traefik.http.routers.polymorph.rule=Host(polymorph.co) || Host(www.polymorph.co)"
    - "traefik.http.routers.polymorph.entrypoints=websecure"
    - "traefik.http.routers.polymorph.tls.certResolver=letsencrypt"
    - "traefik.http.services.polymorph.loadbalancer.server.port=80"
    - "traefik.http.services.polymorph.loadbalancer.server.scheme=http"





networks:
  dokploy-network:
    external: true