version: "3"

services:
 

  init-perms:
    image: alpine:3.18
    entrypoint: /bin/sh
    command:
      - -c
      - |
        apk add --no-cache git
        git config --global --add safe.directory /src
        cd /src
        git submodule update --init --recursive
        mkdir -p /src/public
        chown -R 1000:1000 /src
        echo 'init-perms done'
        sleep 1
    volumes:
      - ./:/src
    restart: "no"
    networks:
      - dokploy-network

  hugo:
    image: ghcr.io/gohugoio/hugo:latest
    user: "1000"
    working_dir: /src
    command: ["--config","hugo.toml","--baseURL","https://polymorph.co/","--destination","/src/public","--minify","--environment","production","--cleanDestinationDir"]
    volumes:
      - ./:/src
    environment:
      - HUGO_ENV=production
    restart: "no"
    depends_on:
      - init-perms
    networks:
      - dokploy-network

  nginx:
    image: nginx:1.25-alpine
    volumes:
    - ./public:/usr/share/nginx/html:ro
    - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    restart: unless-stopped
    depends_on:
    - hugo
    networks:
    - dokploy-network
    labels:
    - "traefik.enable=true"
    - "traefik.http.routers.polymorph-nginx.rule=Host(`polymorph.co`) || Host(`www.polymorph.co`)"
    - "traefik.http.routers.polymorph-nginx.entrypoints=websecure"
    - "traefik.http.routers.polymorph-nginx.tls.certResolver=letsencrypt"
    - "traefik.http.routers.polymorph-nginx.service=polymorph-nginx"
    - "traefik.http.services.polymorph-nginx.loadbalancer.server.port=80"
    - "traefik.http.services.polymorph-nginx.loadbalancer.server.scheme=http"

 




networks:
  dokploy-network:
    external: true