version: "3"

services:
  hugo:
    image: ghcr.io/gohugoio/hugo:latest
    user: "0"
    working_dir: /src
    # command: hugo --config hugo.toml --destination /src/public --minify
    command: ["--config","hugo.toml","--destination","/src/public","--minify"]
    volumes:
      - ./:/src
    restart: "no"
    networks:
      - dokploy-network

  nginx:
    image: nginx:1.25-alpine
    volumes:
      - ./public:/usr/share/nginx/html:ro
    ports:
      - "80:80"
    restart: unless-stopped
    networks:
      - dokploy-network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.polymorph.rule=Host(`polymorph.co`) || Host(`www.polymorph.co`)"
      - "traefik.http.routers.polymorph.entrypoints=websecure"
      - "traefik.http.routers.polymorph.tls.certResolver=letsencrypt"
      - "traefik.http.services.polymorph.loadbalancer.server.port=80"
      - "traefik.http.services.polymorph.loadbalancer.server.scheme=http"

networks:
  dokploy-network:
    external: true