version: "3"

services:
  hugo:
    image: ghcr.io/gohugoio/hugo:latest
    user: "0"
    working_dir: /src
    # run the hugo binary (image ENTRYPOINT) with flags (include production env)
    command: ["--config","hugo.toml","--destination","/src/public","--minify","--environment","production"]
    volumes:
      - ./:/src
    environment:
      - HUGO_ENV=production
    restart: "no"
    networks:
      - dokploy-network

  nginx:
    image: nginx:1.25-alpine
    volumes:
      - ./public:/usr/share/nginx/html:ro
    restart: unless-stopped
    depends_on:
      - hugo
    networks:
      - dokploy-network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.polymorph.rule=Host(`polymorph.co`) || Host(`www.polymorph.co`)"
      - "traefik.http.routers.polymorph.entrypoints=websecure"
      - "traefik.http.routers.polymorph.tls.certResolver=letsencrypt"
      - "traefik.http.services.polymorph.loadbalancer.server.port=80"
      - "traefik.http.services.polymorph.loadbalancer.server.scheme=http"



networks:
  dokploy-network:
    external: true